<div class="page-width {{ section.settings.custom_class }}">
    <div class="animate_round">
        <img src="https://cdn.shopify.com/s/files/1/0774/4562/8117/files/rounded_mode.png?v=1762952945">
    </div>
    <h1 class="highlight_text">Membership</h1>
    <div class="all_memberships_blocks">
        <div class="membership_col">
            <div class="membership_box">
                
                <h5>Basic Membership</h5>
                <p>Join for free and gain access to the world's largest online baseball business community. Perfect for students and emerging professionals looking to break into the industry.</p>
                <a href="" class="btn">
                    Start Free — Join the BIN Community
                </a>
            </div>
        </div>
        <div class="membership_col">
            <div class="membership_box">
              
                <h5>Premier Membership</h5>
                <p>For working professionals ready to grow in baseball — gain full job board access, exclusive content, mentorship sessions, and member discounts.</p>
                <a href="" class="btn">
                    Upgrade to Premier — Elevate Your Career
                </a>
            </div>
        </div>
        <div class="membership_col">
            <div class="membership_box">
                
                <h5>Elite Membership</h5>
                <p>The ultimate experience for those serious about baseball's business. Enjoy personalized mentorship, VIP events, and exclusive access to BIN's executive network.</p>
                <a href="" class="btn">
                    Join Elite — Lead the Future of Baseball
                </a>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Highlight Membership",
  "class": "index-section--membership",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
  ],
  "presets": [
    {
      "name": "Highlight Membership"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
