<div class="page-width {{ section.settings.custom_class }}">
    
</div>


{% schema %}
{
  "name": "Highlight Membership",
  "class": "index-section--membership",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
  ],
  "presets": [
    {
      "name": "Highlight Membership"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
