<div class="page-width {{ section.settings.custom_class }}">
    <div class="animate_round">
        <img src="https://cdn.shopify.com/s/files/1/0774/4562/8117/files/rounded_mode.png?v=1762952945">
    </div>
    <h1 class="highlight_text">Mission & Vision</h1>
    <div class="mission_block">
      <div class="mission_img">
        <img src="https://cdn.shopify.com/s/files/1/0774/4562/8117/files/missin_img1.png?v=1763009850">
      </div>
      <div class="mission_content">
        <h2>Mission</h2>
        <p>To empower, connect, and support professionals across all levels of the baseball industry by providing access to opportunities, mentorship, and community.<br/>BIN fosters a diverse and inclusive network that champions career development, collaboration, and the continued growth of the game.</p>
      </div>
    </div>
    <div class="vision_block">
      <div class="vision_img">
        <img src="https://cdn.shopify.com/s/files/1/0774/4562/8117/files/missin_img1.png?v=1763009850">
      </div>
      <div class="vision_content">
        <h2>Vision</h2>
        <p>The Baseball Industry Network aims to be the leading platform for career growth, connection, and inclusion within the baseball world.<br/>By fostering access, mentorship, and community across all levels of the game, BIN empowers its members to shape the future of the sport.<br/>Through innovation, collaboration, and a commitment to diversity, BIN will unify professionals and elevate the industry—on and off the field.</p>
      </div>
    </div>
</div>


{% schema %}
{
  "name": "Highlight Membership",
  "class": "index-section--membership",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
  ],
  "presets": [
    {
      "name": "Highlight Membership"
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
