.home_scrolling_text {
    background: var(--primary_color);
    color: var(--white);
    font-family: var(--heading_font_family);
    padding: 18px 0px 20px;
}
.home_scrolling_text span {
    font-size: 50px;
    line-height: 50px;
}
.home_richtext_about .theme-block {
    margin-bottom: 10px;
}
.home_richtext_about .enlarge-text p {
    font-size: 14px!important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #67737c;
}
.home_richtext_about h2 {
    font-size: 40px;
}
.home_richtext_about .btn{
    margin-top: 30px;
}
.index-section--membership {
    padding: 100px 0px;
    background-image: url(https://cdn.shopify.com/s/files/1/0774/4562/8117/files/rights_holders_bg-scaled.jpg?v=1762952220);
    background-size: cover;
}
.animate_round img {
    text-align: center;
    margin: auto;
    width: 250px;
}
.all_memberships_blocks {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 40px; */
}
h1.highlight_text {
    font-size: 180px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    line-height: 150px;
    letter-spacing: 5px;
    margin-bottom: -60px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #afafaf, -1px 1px 0 #afafaf, 1px -1px 0 #afafaf, -1px -1px 0 #afafaf;
    margin-top: 30px;
}
.mv_box {
    display: grid;
    gap: 50px;
    align-items: end;
}
.mission_block {
    grid-template-columns: 0.8fr 1.2fr;
}
.vision_block {
    grid-template-columns: 1.2fr 0.8fr;
}
.mission_content h2,
.vision_content h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
