.home_scrolling_text {
    background: var(--primary_color);
    color: var(--white);
    font-family: var(--heading_font_family);
    padding: 18px 0px 20px;
}
.home_scrolling_text span {
    font-size: 50px;
    line-height: 50px;
}
.home_richtext_about .theme-block {
    margin-bottom: 10px;
}
.home_richtext_about .enlarge-text p {
    font-size: 14px!important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #67737c;
}
.home_richtext_about h2 {
    font-size: 40px;
}
.home_richtext_about .btn{
    margin-top: 30px;
}
.index-section--membership {
    padding: 80px 0px;
    background-image: url(https://cdn.shopify.com/s/files/1/0774/4562/8117/files/rights_holders_bg-scaled.jpg?v=1762952220);
    background-size: cover;
}
.animate_round img {
    text-align: center;
    margin: auto;
    max-width: 250px;
}
.all_memberships_blocks {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 40px; */
}
h1.highlight_text {
    font-size: 180px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    line-height: 150px;
    letter-spacing: 5px;
    margin-bottom: -60px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #afafaf, -1px 1px 0 #afafaf, 1px -1px 0 #afafaf, -1px -1px 0 #afafaf;
    margin-top: 30px;
}
.membership_box img {
    margin: 0px auto 15px;
    width: 150px;
    height: auto;
}
.membership_box h5 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.membership_box p {
    text-align: center;
}
.membership_box {
    text-align: center;
}
.membership_col:nth-child(1),
.membership_col:nth-child(3) {
    margin-top: 80px;
}
.membership-comparison {
  background: #fff;
  padding: 60px 20px;
  color: var(--black);
}
.membership-comparison h2.section_title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.membership-comparison table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
.membership-comparison th,
.membership-comparison td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
  font-size: 15px;
}
.membership-comparison th {
  background: var(--red);
  font-weight: 700;
  color: var(--white);
}
.membership-comparison td:first-child {
  text-align: left;
  font-weight: 500;
}
.membership-comparison tr:nth-child(even) {
  background: #fafafa;
}
.membership-comparison tr:hover {
  background: #f9f9f9;
}
.home_banner_text h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px!important;
}
.home_banner_text .background-media-text__text {
    width: 420px;
}
.home_banner_text .background-media-text__subtext p {
    font-size: 15px;
}
.home_text_with_icon h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
}
.text-with-icons__blocks {
    gap: 25px;
}
.home_text_with_icon .text-with-icons__block {
    padding: 20px;
    border: solid 1px #dcdcdc;
    width: calc(20% - 20px);
}
.home_text_with_icon .text-with-icons__block-title {
    display: none;
}
.home_text_with_icon .text-with-icons__block-icon {
    display: block;
    margin-bottom: 15px;
}
.home_text_with_icon .text-with-icons__block-icon .icon {
    height: 60px;
    width: 60px;
}
.home_text_with_icon .text-with-icons__block-text p {
    margin-bottom: 0px;
}
.home_connect h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px!important;
    line-height: 140%!important;
    margin-bottom: 20px!important;
}
.home_connect{
  gap: 50px;
}
.home_connect .one-half {
    width: calc(50% - 25px);
}
.home_connect p {
    font-size: 15px;
}
.home_newsletter p.h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.home_newsletter .theme-block {
    margin-bottom: 0px;
}
.home_newsletter .contact-form {
    margin-top: 40px;
}
.footer__title {
    letter-spacing: 0.5px!important;
    text-transform: uppercase;
    font-size: 22px!important;
}
.footer__logo p {
    margin-top: 20px;
}


.membership-pricing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}
.membership-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 0px;
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s ease;
}
.membership-card:hover {
  transform: translateY(-5px);
}
.membership-icon {
  width: 60px;
  margin: 0 auto 12px;
}
.membership-card-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.membership-card-desc {
  margin-bottom: 0px;
}
.membership-card-price {
    font-size: 50px;
    line-height: 50px;
    margin: 20px 0px;
    color: var(--red);
    font-family: var(--heading_font_family);
    letter-spacing: -1px;
}
.membership-card-price span {
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: 0.2px;
}
.membership-card-features {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}
.membership-card-features li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #444;
}

.video-layout {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 768px) {
  .video-layout {
    flex-direction: column;
    text-align: center;
  }
}

.video-left {
  width: 35%;
  padding-left: 5%;
  color: #FFF;
}
.video-right {
  width: 65%;
}

@media (max-width: 768px) {
  .video-right, .video-left {
    width: 100%;
  }
}

.video-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 20px;
}

.video-card {
  background: #fff;
  border-radius: 0px;
  padding: 15px;
  margin-right: 20px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.1);
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.video-thumb-wrap {
  position: relative;
  height: 250px;
  width: 100%;
}

.video-thumb-wrap video {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  object-fit: cover;
}
.video-carousel-banner .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 40%;
    height: 40%;
}
.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 50%;
  background: rgba(0,0,0,0.6);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.video-info h4 {
    display: block;
    display: -webkit-box;
    margin: 15px 0 10px;
    font-size: 22px;
    line-height: 140%;
    font-weight: 400;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-info p {
  display: block;
  display: -webkit-box;
  margin-bottom: 0px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.video-popup-box {
  background: #000;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  width: 100%;
  position: relative;
}
.video-close {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
#popupVideo {
  width: 100%;
}



@media (max-width: 767px) {
  .home_richtext_about h2,
  .home_text_with_icon h2,
  .home_connect h2,
  .home_newsletter p.h2 {
    font-size: 30px!important;
    line-height: 42px!important;
  }
  .home_richtext_about .theme-block p,
  .membership_box p,
  .home_connect p,
  .home_banner_text .background-media-text__subtext p,
  .home_newsletter .enlarge-text p {
    font-size: 13px;
    line-height: 20px;
  }
  .home_connect p{
    margin-bottom: 15px;
  }
  .home_richtext_about .btn {
    margin-top: 18px;
  }
  .index-section--membership {
    padding: 40px 0;
  }
  .animate_round img {
    max-width: 150px;
  }
  h1.highlight_text {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .membership_col:nth-child(1), .membership_col:nth-child(3) {
    margin-top: 0px;
  }
  .all_memberships_blocks {
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .home_scrolling_text span {
    font-size: 30px!important;
    line-height: 30px;
  }
  .membership_box img {
    margin: 0 auto 10px;
    width: 80px;
  }
  .membership_box p, .membership_box, .home_connect h2 {
    margin-bottom: 10px;
  }
  .home_banner_text .background-media-text__text {
    width: auto;
  }
  .membership_box h5 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .home_scrolling_text {
    padding: 12px 0 12px;
  }
  .home_richtext_about .enlarge-text p {
    font-size: 12px!important;
    letter-spacing: 0.2px;
  }
  .home_richtext_about .theme-block {
    margin-bottom: 5px;
  }
  .home_text_with_icon .text-with-icons__block {
    padding: 10px;
    width: calc(50% - 5px);
  }
  .text-with-icons__blocks {
    gap: 10px;
    flex-direction: unset;
  }
  .home_text_with_icon .text-with-icons__block-icon {
    margin-bottom: 10px;
  }
  .home_text_with_icon .text-with-icons__block-icon .icon {
    height: 50px;
    width: 50px;
  }
  .home_text_with_icon .text-with-icons__block-text p {
    font-size: 12px;
  }
  .home_connect {
    gap: 20px;
    flex-direction: column;
  }
  .home_connect .one-half {
    width: 100%;
  }
  .home_newsletter .enlarge-text p {
    margin-bottom: 0px;
  }
  .home_newsletter .contact-form {
    margin-top: 30px;
  }
  .footer_collapsible--disabled {
    padding: 0!important;
  } 
  footer .collapsible-trigger-btn {
    padding: 12px 0;
  }
  .collapsible-trigger-btn.footer__title {
    padding: 12px 0;
    font-size: 18px!important;
  }
  div#Footer-newsletter {
    margin-top: 12px;
  }
  .footer__social {
    justify-content: left;
  }
  .membership-comparison table, 
  .membership-comparison thead, 
  .membership-comparison tbody, 
  .membership-comparison th, 
  .membership-comparison td, 
  .membership-comparison tr {
    display: block;
  }
  .membership-comparison tr {
    margin-bottom: 15px;
  }
  .membership-comparison td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .membership-comparison td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    text-align: left;
    font-weight: 600;
  }
}