.home_scrolling_text {
    background: var(--primary_color);
    color: var(--white);
    font-family: var(--heading_font_family);
    padding: 18px 0px 20px;
}
.home_scrolling_text span {
    font-size: 50px;
    line-height: 50px;
}
.home_richtext_about .theme-block {
    margin-bottom: 10px;
}
.home_richtext_about .enlarge-text p {
    font-size: 14px!important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #67737c;
}
.home_richtext_about h2 {
    font-size: 40px;
}
.home_richtext_about .btn{
    margin-top: 30px;
}