.home_scrolling_text {
    background: var(--primary_color);
    color: var(--white);
    font-family: var(--heading_font_family);
    padding: 18px 0px 20px;
}
.home_scrolling_text span {
    font-size: 50px;
    line-height: 50px;
}
.home_richtext_about .theme-block {
    margin-bottom: 10px;
}
.home_richtext_about .enlarge-text p {
    font-size: 14px!important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #67737c;
}
.home_richtext_about h2 {
    font-size: 40px;
}
.home_richtext_about .btn{
    margin-top: 30px;
}
.index-section--membership {
    padding: 80px 0px;
    background-image: url(https://cdn.shopify.com/s/files/1/0774/4562/8117/files/rights_holders_bg-scaled.jpg?v=1762952220);
    background-size: cover;
}
.animate_round img {
    text-align: center;
    margin: auto;
    width: 250px;
}
.all_memberships_blocks {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 40px; */
}
h1.highlight_text {
    font-size: 180px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    line-height: 150px;
    letter-spacing: 5px;
    margin-bottom: -60px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #afafaf, -1px 1px 0 #afafaf, 1px -1px 0 #afafaf, -1px -1px 0 #afafaf;
    margin-top: 30px;
}
.membership_box img {
    margin: 0px auto 15px;
    width: 150px;
    height: auto;
}
.membership_box h5 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.membership_box p {
    text-align: center;
}
.membership_box {
    text-align: center;
}
.membership_col:nth-child(1),
.membership_col:nth-child(3) {
    margin-top: 80px;
}
.membership-comparison {
  background: #fff;
  padding: 60px 20px;
  color: #001c3d;
}
.membership-comparison h2.section_title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.membership-comparison table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
.membership-comparison th,
.membership-comparison td {
  border: 1px solid #ddd;
  padding: 10px 15px;
  text-align: left;
  font-size: 15px;
}
.membership-comparison th {
  background: #f2f2f2;
  font-weight: 700;
  color: #001c3d;
}
.membership-comparison td:first-child {
  text-align: left;
  font-weight: 500;
}
.membership-comparison tr:nth-child(even) {
  background: #fafafa;
}
.membership-comparison tr:hover {
  background: #f9f9f9;
}
@media (max-width: 768px) {
  .membership-comparison table, 
  .membership-comparison thead, 
  .membership-comparison tbody, 
  .membership-comparison th, 
  .membership-comparison td, 
  .membership-comparison tr {
    display: block;
  }
  .membership-comparison tr {
    margin-bottom: 15px;
  }
  .membership-comparison td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .membership-comparison td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    text-align: left;
    font-weight: 600;
  }
}